<p>
  <b>Name:</b>
  <%=h @team.name %>
</p>

<p>
  <b>Played:</b>
  <%=h @team.played %>
</p>

<p>
  <b>Won:</b>
  <%=h @team.won %>
</p>

<p>
  <b>Draw:</b>
  <%=h @team.draw %>
</p>

<p>
  <b>Lost:</b>
  <%=h @team.lost %>
</p>

<p>
  <b>Goals home:</b>
  <%=h @team.goals_home %>
</p>

<p>
  <b>Goals away:</b>
  <%=h @team.goals_away %>
</p>

<p>
  <b>Points:</b>
  <%=h @team.points %>
</p>

<p>
  <b>Goals home average:</b>
  <%=h @team.goals_home_average %>
</p>

<p>
  <b>Goals away average:</b>
  <%=h @team.goals_away_average %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>