<h1>Listing match_results</h1>

<table>
  <tr>
    <th>League</th>
    <th>Home team</th>
    <th>Away team</th>
    <th>Played at</th>
    <th>Half time result</th>
    <th>Full time result</th>
    <th>Status</th>
    <th>Additional</th>
  </tr>

<% @match_results.each do |match_result| %>
  <tr>
    <td><%=h match_result.league_id %></td>
    <td><%=h match_result.home_team_id %></td>
    <td><%=h match_result.away_team_id %></td>
    <td><%=h match_result.played_at %></td>
    <td><%=h match_result.half_time_result %></td>
    <td><%=h match_result.full_time_result %></td>
    <td><%=h match_result.status %></td>
    <td><%=h match_result.additional %></td>
    <td><%= link_to 'Show', match_result %></td>
    <td><%= link_to 'Edit', edit_match_result_path(match_result) %></td>
    <td><%= link_to 'Destroy', match_result, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New match_result', new_match_result_path %>