<p>
  <b>League:</b>
  <%=h @match_result.league_id %>
</p>

<p>
  <b>Home team:</b>
  <%=h @match_result.home_team_id %>
</p>

<p>
  <b>Away team:</b>
  <%=h @match_result.away_team_id %>
</p>

<p>
  <b>Played at:</b>
  <%=h @match_result.played_at %>
</p>

<p>
  <b>Half time result:</b>
  <%=h @match_result.half_time_result %>
</p>

<p>
  <b>Full time result:</b>
  <%=h @match_result.full_time_result %>
</p>

<p>
  <b>Status:</b>
  <%=h @match_result.status %>
</p>

<p>
  <b>Additional:</b>
  <%=h @match_result.additional %>
</p>


<%= link_to 'Edit', edit_match_result_path(@match_result) %> |
<%= link_to 'Back', match_results_path %>